<MudPaper Class="border-solid border-4 pa-4">
    <div class="d-flex flex-row flex-grow-1 gap-4 justify-center" style="max-height: 60vh">
        <GameImage Left="@Left"
                   Amount="@Amount"
                   Mode="@Mode" 
                   Name="@ImageName" 
                   OnImageClicked="@OnImageClicked"/>
    </div>
</MudPaper>