@page "/symbgame/game"

<div class="d-flex flex-column flex-grow-1 gap-4" @onkeydown="HandleKeyDown" @ref="KeyDiv" tabindex="0"> 
    <MudGrid Justify="Justify.Center">
        <MudItem xs="12" Style="@($"visibility: {(NextAllowed ? "visible" : "hidden")}")" >
            <div class="d-flex flex-row flex-grow-1 gap-4 justify-center">
                <MudButton OnClick="@NextClicked" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large" Disabled="@(!LevelFinished)">
                    Volgende
                </MudButton>
            </div>
        </MudItem>
        @if (CurrentLevel != null)
        {
            <MudItem xs="6">
                <GameField CurrentLevel="@CurrentLevel"
                            Mode="@Mode" 
                            Left="true" 
                            SideSelected="@SideSelected"
                            @ref="GameFieldLeft" />
            </MudItem>
            <MudItem xs="6">
                <GameField CurrentLevel="@CurrentLevel"
                            Mode="@Mode" 
                            Left="false" 
                            SideSelected="@SideSelected"
                            @ref="GameFieldRight" />
            </MudItem>
        }
     </MudGrid>
</div>