@page "/symbgame"

<MudGrid Justify="Justify.Center">
    <MudItem sm="6">
        <MudCard Outlined="true" Class="border-solid border-2 mud-border-dark pa-3">
            <MudCardContent>
                <MudText Typo="Typo.h4" Align="Align.Center" Class="mb-4">@Title</MudText>
                <MudTextField @bind-Value="Name" Label="Vul hier je naam in" Variant="Variant.Outlined" Class="my-3"/>
                <MudGrid Justify="Justify.Center">
                    <MudItem sm="6">
                        <MudSelect @bind-Value="Mode" Label="Selecteer de spelversie">
                            @foreach (SymbMode item in Enum.GetValues(typeof(SymbMode)))
                            {
                                <MudSelectItem Value="@item">@item.GetDescription()</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem sm="6">
                        <MudCheckBox @bind-Checked="@IsLong" 
                                     Label="Lange versie" 
                                     Color="Color.Primary"
                                     Size="Size.Large"/>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
            <MudCardActions>
                <MudButton OnClick="StartButtonClicked" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large" Class="mx-auto">
                    Start
                </MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem sm="4">
        <div style="max-width:50%;" class="mx-auto d-flex justify-center flex-grow-1">
            <MudImage Src="@ImageURL" Fluid="true" style="max-height:150px"/>
        </div>
        <div style="max-width:80%;" class="mx-auto d-flex justify-center flex-grow-1">
             <MudCard Outlined="true">
                <MudCardContent>
                    <MudText Typo="Typo.body1" Align="Align.Center">@Description</MudText>
                </MudCardContent>
            </MudCard>
        </div>
    </MudItem>
</MudGrid>
